body {
  font-family: "PT Sans Narrow", "Arial Rounded MT Bold", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  color: #000000;
}
h1.h-item,
h1.h-catalog {
  font-size: 30px;
  line-height: 42px;
}
h2.h-composition {
  font-size: 24px;
  line-height: 30px;
}
h2.h-catalog-item {
  font-size: 14px;
  line-height: 18px;
}
